* {
    box-sizing: border-box;
    text-align: center;
  }   
   
   body {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color:#777;
        background:#777;
        width: 960px;
        font-size: 18px;
        margin: auto;
        padding: 10px;
        text-align: center
    }

    header, nav, section, aside, footer {
        background: #ebebeb;
    }

    header {
        padding: 40px;      
    }

    nav {
        margin-top: -10px;
        padding: 40px;  
    }

    section {
        background: #ebebeb;
        float: left;
        width: 495px;
        height: 300px;
        margin-bottom: 20px;

    }
    
    aside {
        background: #ebebeb;
        float: right;
        width: 45%;
        height: 300px;
        padding: 20px;
        margin-bottom: 20px;

    }
    
    article {
        margin: 0 15%;
        width: 33%;
        overflow: auto;
        color: #ebebeb;
        background: #777;
    }

    h1 {
        width: 30%;
        color: #777;
        background: #ebebeb;
    } 
    
    p {
        width: 25%;
        color: #777;
        background: #ebebeb;
    }  
    
    footer {
        margin-top: 10px;
        clear: both;
        background: #ebebeb;
        padding: 40px;
    }
    /* Thanks Jason Emerson for help! Margin-top keeps footer at bottom of page */